.navbar{
    background-color: #e7e4ff;
}

main{
    background-color: #fcfcff;
}

.estilosCarrito{
  display: flex;
  align-self: flex-end;
}

.contenedorCarrito{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

tbody, td, tfoot, th, thead, tr{
  border-style: solid;
  border-color: #e7e4ff;
}

.botonComprar{
  width: 6rem;
}


.estilosMenu{
  width: 100%;
  display: flex;
}

card-img-top{
  width: 100%;
  height:250px;
  object-fit: cover;
}


.estiloCards{
    display: flex;
    justify-content: center;
    padding: 25px;
    margin: 0;
}

.card{
  background-color: #ffffff;
  transition: transform 0.3s;
}

.card:hover {
transform: scale(1.06);
}

.form-control{
  margin-bottom: 10px;
}

.btn-color{
  background-color: #f0cdd1;
}

@media (min-width: 350px) and (max-width: 767px) {

  main  {
    font-size: 10px;
  }
 
  .card {
      width: 18rem;
      padding: 20px;
      margin: 10px;
      }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {

    main {
      font-size: 10px;
    }

    .card {
      width: 25rem;
      padding: 25px;
      margin: 12px;
    }
    
  }
  @media (min-width: 992px) {
   
    .card {
      width: 28rem;
      padding: 30px;
      margin: 15px;
    }
}